<div class="schedule-container">
  <div class="col-md-12">
    <div class="card card-cascade narrower">
      <div class="view overlay hm-white-slight waves-light " mdbWavesEffect>
        <h1 class="table-heading">Bus Schedule</h1>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="margin">
                  <mat-select placeholder="Route Number" (selectionChange)="onChange($event)">
                    <mat-option *ngFor=" let route of routes " [value]="route._id ">{{route.route_no +" "+ route.route_from +" - "+ route.route_to}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <a (click)="generateSchedule()" class="btn btn-unique waves-light " mdbWavesEffect>Generate New Schedule</a>
            <a (click)="exportAsPDF()" class="btn btn-unique waves-light " mdbWavesEffect>Export Shedule</a>
          </div>
        </div>
        <table id="contentToConvert" class="table table-striped ">
          <thead>
            <tr>
              <th>Time Slot</th>
              <th>Depature Interval</th>
              <th>Number of Busses Allocated</th>
              <th>Order</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=" let row of allocation ">
              <td>{{row.time_slot}}</td>
              <td>{{row.fixedInterval}} Mins</td>
              <td>{{row.numberOfBusses}}</td>
              <td matTooltip={{row.busNumbers}}>[ {{row.allocation}} ]</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>