<div mdbModal #orangeModalSubscription="mdb-modal"  class="modal fade" id="orangeModalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content modal-zindex">
      <!--Header-->
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">BUS ALLOCATION</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <div class="card card-cascade narrower">
          <div class="view overlay hm-white-slight waves-light " mdbWavesEffect>
            <h1 class="table-heading"></h1>
          </div>
          <div class="card-body">
            <table id="contentToConvert1" class="table table-striped ">
              <thead>
                <tr>
                  <th>Time Slot</th>
                  <th>Allocation</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor=" let row of modalData ">
                  <td>{{row.time}}</td>
                  <td>{{row.busList}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>


    </div>
    <!--/.Content-->
  </div>
</div>

<div class="schedule-container">
  <div class="col-md-12">
    <div class="card card-cascade narrower">
      <div class="view overlay hm-white-slight waves-light " mdbWavesEffect>
        <h1 class="table-heading">Bus Schedule</h1>
      </div>
      <div class="card-body">
        <form [formGroup]="scheduleForm">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validTextType===true}" [ngClass]="displayFieldCss(scheduleForm, 'date')">
                    <input matInput formControlName="date" [matDatepicker]="picker" placeholder="Choose a date" (ngModelChange)="textValidationType($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <app-field-error-display [displayError]="isFieldValid(scheduleForm, 'date')" errorMsg="Please enter a valid date">
                    </app-field-error-display>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width has-label margin" [ngClass]="{'has-success':validTextType===true}" [ngClass]="displayFieldCss(scheduleForm, 'route')">
                    <mat-select placeholder="Route Number" formControlName="route" (ngModelChange)="textValidationType($event)">
                      <mat-option *ngFor=" let route of routes " [value]="route._id ">{{route.route_no +" "+ route.route_from +" - "+ route.route_to}}</mat-option>
                      <app-field-error-display [displayError]="isFieldValid(scheduleForm, 'route')" errorMsg="Please select a valid route">
                      </app-field-error-display>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <button mdbWavesEffect type="submit" (click)="viewSchedule()" class="btn btn-unique waves-light" [disabled]="!scheduleForm.valid">View Schedule</button>
              <a (click)="generateSchedule()" class="btn btn-unique waves-light " mdbWavesEffect>Generate New Schedule</a>
              <a (click)="exportAsPDF()" class="btn btn-unique waves-light " mdbWavesEffect>Export Shedule</a>
            </div>
          </div>
        </form>
        <table id="contentToConvert" class="table table-striped ">
          <thead>
            <tr>
              <th>Time Slot</th>
              <th>Depature Interval</th>
              <th>Number of Busses Allocated</th>
              <th>Order</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=" let row of allocation ">
              <td>{{row.time_slot}}</td>
              <td>{{row.fixedInterval}} Mins</td>
              <td>{{row.numberOfBusses}}</td>
              <td (click)="openScheduleModal(row)" matTooltip={{row.busNumbers}}>[ {{row.allocation}} ]</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

