<div mdbModal #orangeModalSubscription="mdb-modal"  class="modal fade" id="orangeModalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content modal-zindex">
      <!--Header-->
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">BUS STATIONS</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <div class="card card-cascade narrower">
          <div class="view overlay hm-white-slight waves-light " mdbWavesEffect>
            <h1 class="table-heading"></h1>
          </div>
          <div class="card-body">
            <table id="contentToConvert1" class="table table-striped ">
              <thead>
                <tr>
                  <th>Bus Station</th>
                  <th>Latitude</th>
                  <th>Longitude</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor=" let row of modalData ">
                  <td>{{row.name}}</td>
                  <td>{{row.lat}}</td>
                  <td>{{row.lng}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>


    </div>
    <!--/.Content-->
  </div>
</div>

<div class="" style="margin-top:35px">
  <div class="col-md-12">

    <div class="card card-cascade narrower">
      <div class="view overlay hm-white-slight waves-light " mdbWavesEffect>
        <h1 class="table-heading" style="font-size:200%">Route List</h1>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <div class="card-body border border-light" style="margin: 15px;">
        <div class="row">
          <div class="col">
            <a routerLink="/Admin/AddRoute"><button mdbBtn type="button" class="btn btn-unique btn-md" style="margin-top: 30px;"
                mdbWavesEffect>New Route</button></a>
          </div>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Route No</th>
              <th>From</th>
              <th>To</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let route of routeList; let i = index;">
              <td>{{route.route_no}}</td>
              <td>{{route.route_from}}</td>
              <td>{{route.route_to}}</td>
              <td style="width:200px;">
                <button (click)="openScheduleModal(route.bus_stops)" type="button" class="btn btn-default px-3 btn-sm" matTooltip="View bus stations"><i class="fa fa-eye" aria-hidden="true"></i></button>
                <button (click)="editRoute(route._id)" type="button" class="btn btn-primary px-3 btn-sm" matTooltip="Edit route"><i class="fa fa-edit"
                    aria-hidden="true"></i></button>
                <button (click)="deleteRoute(route._id,i)" type="button" class="btn btn-danger px-3 btn-sm" matTooltip="Delete route"><i class="fa fa-trash" aria-hidden="true"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>