.table-heading {
    background-color: rgb(24, 22, 22);
    color: white;
    margin-bottom: -1px;
    text-align: center;
    font-size: 96%
}
.border-light{
    border-color: #0e9ba2 !important;

}
// .mat-option:hover {
//     background: #0bc29a;
// }