<div class="schedule-container" style="margin-top:30px;">
    <div class="col-md-12">
        <div class="card card-cascade narrower">

            <div class="view overlay hm-white-slight waves-light " mdbWavesEffect>
                <h1 class="table-heading" style="font-size:200%">Edit Route</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="border border-light p-5" [formGroup]="routeForm">
                            <div class="row">
                                <div class="md-form col-md-6">
                                    <input type="text" id="route_no" class="form-control" formControlName="route_no"
                                        mdbInputDirective>
                                    <label for="route_no">Route No</label>
                                </div>
                                <div class="md-form col-md-6">
                                    <input type="text" id="total_km" class="form-control" formControlName="total_km"
                                        mdbInputDirective>
                                    <label for="total_km">Total KM</label>
                                </div>
                            </div>
                            <div class="row md-form">
                                <div class="col">
                                    <input type="text" id="route_from" formControlName="route_from" class="form-control"
                                        mdbInputDirective>
                                    <label for="route_from">From</label>

                                </div>
                                <div class="col">
                                    <input type="text" id="route_to" formControlName="route_to" class="form-control"
                                        mdbInputDirective>
                                    <label for="route_to">To</label>

                                </div>
                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-success btn-md" (click)="addPhone()"><i class="fa fa-plus pr-2"
                                        aria-hidden="true"></i>Station</button>
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Stations</th>
                                            <th>Latitude</th>
                                            <th>Longitude</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody formArrayName="stations">
                                        <tr *ngFor="let phone of stationForms.controls; let i =index" [formGroupName]="i">
                                            <td>
                                                <input class="form-control" type="text" formControlName="name" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" formControlName="lat" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" formControlName="lng" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger px-3 btn-sm" (click)="deletePhone(i)"><i
                                                        class="fa fa-trash" aria-hidden="true"></i></button>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button mdbWavesEffect type="submit" (click)="editRoute()" class="btn btn-unique waves-light" [disabled]="!routeForm.valid">Edit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>