<div class="schedule-container" style="margin-top:30px;">
    <div class="col-md-12">
  
      <!--Card-->
      <div class="card card-cascade narrower">
  
        <div class="view overlay hm-white-slight waves-light " mdbWavesEffect>
          <h1 class="table-heading" style="font-size:200%">Edit Account</h1>
  
        </div>
  
  
  
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <form [formGroup]="userEditForm" class="border border-light p-5">
                <div class="row">
                  <div class="md-form col-md-6">
                    <!-- <i class="fa fa-user prefix grey-text"></i> -->
                    <input type="text" id="firstName" formControlName="firstName" class="form-control" mdbInputDirective>
                    <label for="firstName">Firstname</label>
                  </div>
                  <div class="md-form col-md-6">
                    <!-- <i class="fa fa-user prefix grey-text"></i> -->
                    <input type="text" id="lastName" formControlName="lastName" class="form-control" mdbInputDirective>
                    <label for="lastName">Lastname</label>
                  </div>
                </div>
                <div class="row">
                  <div class="md-form col-md-6">
                    <!-- <i class="fa fa-user prefix grey-text"></i> -->
                    <input type="text" id="email" formControlName="email" class="form-control" mdbInputDirective readonly>
                    <label for="email">Email</label>
                  </div>
                  <div class="md-form col-md-6">
                    <!-- <i class="fa fa-user prefix grey-text"></i> -->
                    <input type="text" id="contactNo" formControlName="contactNo" class="form-control" mdbInputDirective>
                    <label for="contactNo">Contact No</label>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="md-form col-md-6">
                    <div class="custom-control custom-radio">
                      <mat-select *ngIf="userData.role === 'Driver'" placeholder="Bus No" class="form-control" formControlName="busNo" mdbInputDirective>
                        <mat-option>None</mat-option>
                        <mat-option  *ngFor="let bus of busList" [value]="bus._id">{{bus.busNo}}</mat-option>
                      </mat-select>
                  </div>
                </div>
                </div>
                <button mdbWavesEffect type="submit" (click)="editUser()" class="btn btn-unique waves-light"
                  [disabled]="!userEditForm.valid">Save</button>
                  <a routerLink="/Admin/ChangePassword" style="font-weight:600"> Change Password</a>
              </form>
            </div>
          </div>
        </div>
        <!--/.Card content-->
  
      </div>
      <!--/.Card-->
  
    </div>
  </div>