<div class="schedule-container" style="margin-top:30px;">
  <div class="col-md-12">

    <!--Card-->
    <div class="card card-cascade narrower">

      <div class="view overlay hm-white-slight waves-light " mdbWavesEffect>
        <h1 class="table-heading" style="font-size:200%">Change Password</h1>

      </div>



      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="passwordChangeForm" class="border border-light p-5">
              <div class="row">
                <div class="md-form col-md-6">
                  <!-- <i class="fa fa-user prefix grey-text"></i> -->
                  <input type="text" id="currentPsw" formControlName="currentPsw" class="form-control" mdbInputDirective>
                  <label for="currentPsw">Current Password</label>
                </div>
                <div class="md-form col-md-6">
                  <!-- <i class="fa fa-user prefix grey-text"></i> -->
                  <input type="text" id="newPsw" formControlName="newPsw" class="form-control" mdbInputDirective>
                  <label for="newPsw">New Password</label>
                </div>
              </div>
              <!-- <div class="row"> -->
                <div class="md-form col-md-6">
                  <!-- <i class="fa fa-user prefix grey-text"></i> -->
                  <input type="text" id="confrimPsw" formControlName="confrimPsw" class="form-control" mdbInputDirective>
                  <label for="confrimPsw">Confrim Password</label>
                </div>

              <button mdbWavesEffect type="submit" (click)="registerUser()" class="btn btn-unique waves-light"
              [disabled]="!passwordChangeForm.valid">Save</button>
            </form>


          </div>
        </div>


        <!-- <a class="btn btn-unique waves-light" mdbWavesEffect>Print Shedule</a> -->

        <!-- <a class="btn btn-unique waves-light" mdbWavesEffect>Button</a> -->
      </div>
      <!--/.Card content-->

    </div>
    <!--/.Card-->

  </div>
</div>