<div class="schedule-container" style="margin-top:30px;">
  <div class="col-md-12">

    <!--Card-->
    <div class="card card-cascade narrower">

      <div class="view overlay hm-white-slight waves-light " mdbWavesEffect>
        <h1 class="table-heading" style="font-size:200%">Create Account</h1>

      </div>



      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="userForm" class="border border-light p-5">
              <!-- <div class="md-form">
                    <mat-form-field class="margin">
                      <mat-select placeholder="Route Number">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let route of routes" [value]="route">{{route}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div> -->

              <!-- <div class="form-check radio-green-gap">
                    <input name="group2" type="radio" class="with-gap" id="radio4">
                    <label class="radio-label" for="radio4">Generate For Specific Time Slot</label>
                    <input name="group2" type="radio" class="with-gap" id="radio5">
                    <label class="radio-label" for="radio5">Generate For The Whole Day</label>
                  </div> -->

              <div class="row">
                <div class="md-form col-md-6">
                  <!-- <i class="fa fa-user prefix grey-text"></i> -->
                  <input type="text" id="firstName" formControlName="firstName" class="form-control" mdbInputDirective>
                  <label for="firstName" style="color:red !important">Firstname</label>
                </div>
                <div class="md-form col-md-6">
                  <!-- <i class="fa fa-user prefix grey-text"></i> -->
                  <input type="text" id="lastName" formControlName="lastName" class="form-control" mdbInputDirective>
                  <label for="lastName">Lastname</label>
                </div>
              </div>
              <div class="row">
                <div class="md-form col-md-6">
                  <!-- <i class="fa fa-user prefix grey-text"></i> -->
                  <input type="text" id="email" formControlName="email" class="form-control" mdbInputDirective>
                  <label for="email">Email</label>
                </div>
                <div class="md-form col-md-6">
                  <!-- <i class="fa fa-user prefix grey-text"></i> -->
                  <input type="text" id="contactNo" formControlName="contactNo" class="form-control" mdbInputDirective>
                  <label for="contactNo">Contact No</label>
                </div>
              </div>
              <div class="row">
                <div class="md-form col-md-6">
                  <!-- <i class="fa fa-user prefix grey-text"></i> -->
                  <input type="password" id="password" formControlName="password" class="form-control" mdbInputDirective>
                  <label for="password">Password</label>
                </div>
                <div class="md-form col-md-6">
                  <div class="custom-control custom-radio">
                    <mat-select placeholder="User Role" class="form-control" formControlName="userRole" mdbInputDirective>
                      <mat-option>None</mat-option>
                      <mat-option  *ngFor="let role of userRole" [value]="role">{{role}}</mat-option>
                    </mat-select>
                </div>
              </div>
              </div>
              <button mdbWavesEffect type="submit" (click)="registerUser()" class="btn btn-unique waves-light"
                [disabled]="!userForm.valid">Save</button>
                <button mdbWavesEffect type="submit" (click)="demo()" class="btn btn-info waves-light"
                >Demo</button>
            </form>


          </div>
        </div>


        <!-- <a class="btn btn-unique waves-light" mdbWavesEffect>Print Shedule</a> -->

        <!-- <a class="btn btn-unique waves-light" mdbWavesEffect>Button</a> -->
      </div>
      <!--/.Card content-->

    </div>
    <!--/.Card-->

  </div>
</div>