/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

div {
    font-family: 'Rajdhani';
}

.mat-option,.navbar {
    font-family: 'Rajdhani';
    font-size: 80% !important;
}


.mat-tooltip  {
   font-size: 70% !important;
   font-family: 'Rajdhani';
   }

   .mainbody {
    background: url("assets/images/techandall_wallpaper_1.jpg");
    background-attachment: fixed;
    background-size: cover;
    max-height: 100%;
    background-repeat: no-repeat;
}

.modal-backdrop.in {
    z-index: -1 !important;
}